@use "../abstract" as *;
@use "_fonts" as *;
@use "_colors" as *;
@use "sass:math";

html {
	box-sizing: border-box;
	height: 100%;
	scroll-behavior: smooth;
	// scroll-padding-top: var(--scroll-padding, rem(106));
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: Inter, sans-serif;
	font-weight: 400;
	font-size: rem($baseFontSize);
	line-height: math.div(16, 16);
	margin: 0;
	height: 100%;
}

body.scroll-lock {
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	margin: 0;
}

select,
fieldset,
input,
legend,
link,
textarea {
	appearance: none;
	outline: none;

	&:focus {
		outline: none;
	}

	&:focus-visible {
		outline: none;
	}
}

button {
	background-color: $clr-white;
	padding: 0;
	border-width: 0;
	font-family: inherit;
	outline: none;

	// &:focus {
	// 	outline: none;
	// }

	// &:focus-visible {
	// 	outline: 3px solid $clr-black;
	// 	outline-offset: 3px;
	// }

	// &:active {
	// 	outline: 3px solid $clr-black;
	// 	outline-offset: 3px;
	// }
}

h1 {
	margin: 0;
}

input {
	padding: 0;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

input,
textarea {
	border: 1px solid $grey-line;
	background-color: white;
	border-radius: 6px;
}

select:focus-visible,
textarea:focus-visible,
input:focus-visible {
	outline: none;
	border-color: $primary;
}

hr {
	margin: 0;
}

s::before,
s::after {
	clip-path: inset(100%);
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

s::before {
	content: " [start of stricken text] ";
}

s::after {
	content: " [end of stricken text] ";
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	min-height: 100%;
	/// need for position:sticky in header or remove overflow
	/// height: 100%;
}

.page {
	flex: 1 0 auto;
}

[class*="__container"] {
	max-width: em($maxWidthContainer);
	margin: 0 auto;
	padding: 0 10px;

	@media screen and (min-width: em(390)) {
		padding: 0 20px;
	}
}
